@media screen and (max-width: 1024px) {
    .mobile-container {
        display: none;
       position: absolute;
       top: 105px;
       left: 0;
       flex-direction: column;
       background-color: $bg-secondary;
       padding: 0 40px 60px;
       align-items: center;
        &.show {
            display: flex;
        }
    }
    .header-nav-list {
        flex-direction: column;
        padding: 37px 12px 34px;
        gap: 0;
        font-size: 24px;
        line-height: 222%;
    }
}