.header-nav {
    @extend .container;
    display: flex;
    padding: 25px 15px 39px 15px;
    position: relative;
    max-width: 1170px;

    .btn {
        padding: 13px 21px;
    }
}
.mobile-container {
   display: flex;
    width: 100%;
}
.header-nav-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 45px;
    a {
        color: $text-color;
        text-decoration: none;
    }
}
.btn-burger {
    border: none;
    background: url('assets/img/Vector.svg') center no-repeat;
    padding: 19px;

    &.open {
        background: url('assets/img/Vector-close.svg') center no-repeat;
    }
}