$font-primary:"ProximaNova";
$color-primary:#E58D35;
$color-secondary: #89C249;
$bg-primary: #282B38;
$bg-secondary: #363A4D;
$text-color: #fff;
$container-padding: 15px;
$container-mobile-padding: 20px;

$section-margin-lg: 100px;
$section-margin: 60px;

///fonts///
$font-primary: "Open Sans";
$font-secondary:  "monospace";
$font-size: 16px;

///colors///
$primary-color: #222;
$secondary-color: #f00;
$text-color: #fff;