<section class="first-screen">
 
        <div class="swiper-info">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="container">
                    <div class="banner">
                        <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                        <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                        <button type="button" class="btn btn-primary btn-lg"> Расчитать стоимость 
                            <img class="btn-direction" src="assets/img/icon-direction-left.svg" alt="direction"></button>
                    </div>
                </div>
            </div>

                <div class="swiper-slide">
                    <div class="container">
                    <div class="banner">
                        <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                        <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                        <button type="button" class="btn btn-primary btn-lg"> Расчитать стоимость 
                            <img class="btn-direction" src="assets/img/icon-direction-left.svg" alt="direction"></button>
                    </div>
                </div>
            </div>

                <div class="swiper-slide">
                    <div class="container">
                    <div class="banner">
                        <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                        <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                        <button type="button" class="btn btn-primary btn-lg"> Расчитать стоимость !!!!!!!!!!!
                            <img class="btn-direction" src="assets/img/icon-direction-left.svg" alt="direction"></button>
                    </div>
                </div>
            </div>


                <div class="swiper-slide">Slide2</div>
                <div class="swiper-slide">Slide3</div>
            </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
    
</section>