<header>
   <div class="header-nav">
    <a href="index.html" class="logo">
      <img src="assets/img/logo.svg" alt="logo">
    </a>
   <div class="mobile-container">
    <nav class="header-nav-list">
      <a href="#">Цены и услуги</a>
      <a href="#">Услуги</a>
      <a href="#">О компании</a>
      <a href="#">Контакты</a>
      <a href="#">Оформить груз</a>
          </nav>
          <button type="button" class="btn btn-primary">Оставить заявку</button>
   </div>
   <button id="burger" type="button" class="btn btn-burger d-lg-none ms-auto"></button>
   </div>
</header>
<section class="first-screen">
  <div class="container">
      <div class="swiper-info">
          <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image: url(assets/img/first-screen.png);">
                  <div class="banner">
                      <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                      <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                      <button type="button" class="btn btn-primary btn-lg"> Расчитать стоимость 
                          <img class="btn-direction" src="assets/img/icon-direction-left.svg" alt="direction"></button>
                  </div>
              </div>

              <div class="swiper-slide" style="background-image: url(assets/img/first-screen-2.png);">
                  <div class="banner">
                      <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                      <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                      <button type="button" class="btn btn-primary btn-lg"> Расчитать стоимость 
                          <img class="btn-direction" src="assets/img/icon-direction-left.svg" alt="direction"></button>
                  </div>
              </div>

              <div class="swiper-slide" style="background-image: url(assets/img/first-screen-3.png);">
                  <div class="banner">
                      <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                      <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                      <button type="button" class="btn btn-primary btn-lg"> Расчитать стоимость 
                          <img class="btn-direction" src="assets/img/icon-direction-left.svg" alt="direction"></button>
                  </div>
              </div>
          </div>
  </div>
</section>

