<header>
   <div class="header-nav">
    <a href="index.html" class="logo">
      <img src="../assets/img/logo.svg" alt="logo">
    </a>
   <div class="mobile-container">
    <nav class="header-nav-list">
      <a href="#">Цены и услуги</a>
      <a href="#">Услуги</a>
      <a href="#">О компании</a>
      <a href="#">Контакты</a>
      <a href="#">Оформить груз</a>
          </nav>
          <button type="button" class="btn btn-primary">Оставить заявку</button>
   </div>
   <button type="button" class="btn btn-primary d-lg-none">burger</button>
   </div>
</header>

